<div class= "container">
<p><strong> Reviews</strong></p>
  <ul class="list-group">
    <% @restaurant.reviews.each do |review| %>
      <li class="list-group-items"><%= review.content %><%= review.rating %></li>
    <% end  %>
  </ul>
</div>

