<nav class="navbar navbar-light bg-light" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header"> <%=link_to "Restaurants", restaurant_path%> </div>
    <div class="navbar-header"> <%=link_to "Add a new restaurant", restaurant_path%> </div>
  </div>
</nav>
